<div id="titulo">Bienvenido Facturacion Prueba</div>
<div class="DatosRegistro">
    <h5 style="margin-left: 60px;">NUEVO USUARIO</h5>
    <h5 style="display: inline-block;">Nombre:</h5>
    <input type="text"><br>
    <h5 style="display: inline-block;">Apellido:</h5>
    <input type="text"><br>
    <h5 style="display: inline-block;">Cédula:</h5>
    <input type="text" value="" placeholder="CEDULA" name="cedula" [(ngModel)]="cedula" (ngModelChange)="validadorDeCedula(cedula)" maxlength="10">
    <small *ngIf="!validador" class="text-danger" style="color: red;">Cedula Invalida</small>
    <h5 style="display: inline-block;">Clave:</h5>
    <input type="text" [(ngModel)]="clave"><br>
    <button style="margin-left: 190px;" class="boton" (click)="validacionClave()">REGISTRAR</button>
</div>